ul {
  display: inline-block;
  float: left;
}

h5 {
  margin: 0;
}

div.channel-container {
  width: 100%;
  float: left;
}

div.router-container {
  display: block;
  /* clear: both; */
  /* float: left; */
  margin: 30px;
  position: relative;
  left: 8%;
}
